[submodule "SSRFSinks"]
	path = SSRFSinks
	url = https://github.com/SSRFuzz/SSRFSinks
[submodule "zmark"]
	path = zmark
	url = https://github.com/SSRFuzz/zmark
[submodule "TaintInfer"]
	path = TaintInfer
	url = https://github.com/SSRFuzz/TaintInfer
[submodule "Fuzzer"]
	path = Fuzzer
	url = https://github.com/SSRFuzz/Fuzzer
